.button {
    -fx-background-color: #EFBFF2;
    -fx-text-fill: #720DD9;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #F4EDF7;
}
.button:hover {
    -fx-background-color: #B856F5;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#loginPane {
    -fx-background-color: #F0E6F5;
    -fx-border-color: #F4EDF7;
    -fx-border-width: 2px;
}
#detailsPane {
    -fx-background-color: linear-gradient(to bottom, #EFBFF2, #C173F0);
}
.label {
    -fx-text-fill: #720DD9;
}
#usernameField {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #720DD9;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
#passwordField {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #720DD9;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}